@import '../variables';

.edu {
  width: 70%;
  color: $color-black;
  background-color: $color-white;
  box-shadow: $shadow;
  margin-top: $margin-top;
  padding: $outer-padding;

  .edu-header {
    font-family: $font-secondary;
    font-size: 2.5rem;
    margin-left: $margin-left;
  }

  .edu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: $inner-padding;

    .edu-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $font-primary;

      .sm {
        font-size: 1rem;
      }
      
      .lg {
        font-size: 2rem;
      }
      
      .md {
        font-size: 1.25rem;
      }
    }
  }
}