
.about {
  @include box;

  .about-header {
    display: flex;
    @include header;
  }

  .about-container {
    @include justify;
    align-items: flex-start;
    padding: 5% 5% 2% 10%;
    
    .about-img {
      width: 320px;
      box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 3px 3px 10px 1px #0000008a;
    }

    .about-info {
      display: flex;
      flex-direction: column;
      width: 100%;

      
      .about-desc {
        font-size: 1.25rem;
        font-family: $paragraph;
        font-weight: 700;
        margin: 0% 0% 2% 10% ;
        
        .name {
          font-family: $heading;
          font-size: 2rem;
        }
      }

      .about-para {
        font-family: $paragraph;
        font-size: 1.25rem;
        margin: 0% 5% 0% 10%;
        line-height: 1.5rem;
  
        .para {
          padding-bottom: 2%;
        }
      }
    }
  }
}