
.contact {
  @include box;

  .contact-header {
    @include header;

  }

  .contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding;
  
    .contact-container {
      width: 50%;

      form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .error {
          color: #fff;
          background-color: #da1f1f;
          width: 90%;
          display: flex;
          justify-content: center;
          font-family: $paragraph;
          font-size: 1rem;
          font-weight: 600;
        }

        input {
          width: 90%;
          padding: 12px 20px;
          margin: 5px 0;
          display: inline-block;
          border: 1px solid #9a9a9a;
          border-radius: 4px;
          box-sizing: border-box;
          font-family: $paragraph;
          background-color: #f8f8f8;

          &:focus {
            outline: none !important;
            border: 2px solid $dark-blue;
          }
        }

        textarea {
          width: 90%;
          padding: 12px 20px;
          margin: 5px 0;
          display: inline-block;
          border: 1px solid #9a9a9a;
          border-radius: 4px;
          box-sizing: border-box;
          font-family: $paragraph;
          background-color: #f8f8f8;
        
          &:focus {
            outline: none !important;
            border: 2px solid $dark-blue;
          }
        }

        .btn-container {
         display: flex;
         justify-content: flex-end;
         width: 90%;
         
          button {
            background-color: $dark-blue;
            border: none;
            color: #fff;
            padding: 10px 26px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
            font-family: $paragraph;
            font-size: 1rem;
          }
        }
      }
    }
    
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      font-size: 1.25rem;
      font-family: $paragraph;

      .user-icon {
        font-size: 3rem;
      }

      p {
        margin-bottom: 2%;
      }

      .me {
        font-family: $heading;
        font-size: 2.5rem;
      }

      .relocate {
        font-family: $heading;
        font-size: 1.5rem;
      }
    }
  }

  .message-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    line-height: 1.25rem;
    font-family: $section-heading;
    font-size: 1rem;
    color: $black;

    .wait-message {
      width: 85%;
    }

    .confirmation {
      display: flex;
      justify-content: center;
      font-size: 2rem;
    }

    .failure {
      display: flex;
      justify-content: center;
    }
  }
}