
.edu {
  @include box;

  .edu-header {
    @include header;
  }

  .edu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding;
    
    .edu-item {
      @include align;
      flex-direction: column;
      margin-bottom: 3%;

      .year {
        @include year;

        @include respond-to(medium) {
          font-size: 1rem;
        }
      }
      
      .school {
        @include heading;
      }
      
      .major {
        @include sub-heading;

        @include respond-to(medium) {
          font-size: 1rem;
        }
      }

      .deg {
        @include deg;
      }
    }
  }
}