
.edu {
  @include box;

  .edu-header {
    @include header;
  }

  .edu-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: $padding;

    .edu-item {
      @include align;
      flex-direction: column;

      .year {
        @include year;
      }
      
      .school {
        @include heading;
      }
      
      .major {
        @include sub-heading
      }
    }
  }
}