
.edu {
  @include box;

  .edu-header {
    @include header;
  }

  .edu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: $padding;

    .edu-item {
      @include align;
      flex-direction: column;
      border-bottom: 1px solid $black;

      .year {
        font-size: 1rem;
        font-family: $date;
      }
      
      .school {
        font-size: 2rem;
        font-family: $heading;
      }
      
      .major {
        font-size: 1.25rem;
        font-family: $sub-heading;
      }
    }
  }
}