
.header {
  @include align;
  flex-direction: column;
  font-family: $heading;
  color: $white;
  margin: 4% 0% 2% 0%;
  
  .header-name {
    font-size: 4rem;
    margin-bottom: 5%;
    font-weight: 600;

    @include respond-to(small) {
      font-size: 3.5rem;
    }

    @include respond-to(xsmall) {
      font-size: 3rem;
    }
  }

  .header-title {
    font-size: 1.25rem;
    margin-bottom: 7%;
    font-family: $sub-heading;

    @include respond-to(small) {
      font-size: 1rem;
    }
  }

  .icon-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 7%;

    .icon {
      font-size: 1.75rem;
      color: $light-grey;
    }
  }

  .header-links {
    @include align;
    width: 100%;

      .link {
      text-decoration: none;
      font-size: 1.25rem;
      color: $white;
      font-family: $sub-heading;
      font-weight: 600;
      border: 1px solid $dark-grey;
      margin: 15px;
      padding: 10px;
      background-color: $dark-grey;
      box-shadow: $shadow;

      @include respond-to(xsmall) {
        font-size: 0.75rem;
      }
    }
  }
}