
.header {
  @include align;
  flex-direction: column;
  font-family: $heading;
  color: $white;
  margin-top: 4%;
  
  .header-name {
    font-size: 4rem;
    margin-bottom: 5%;
    font-weight: 600;
  }

  .header-title {
    font-size: 1.25rem;
    margin-bottom: 5%;
    font-family: $sub-heading;
  }

  .icon-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .icon {
      font-size: 1.5rem;
      color: $white;
    }
  }
}