
.projects {
  @include box;

  .projects-header {
    @include header;
  }

  .projects-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4% 2% 2% 2%;

    .project {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .project-title {
        font-family: $heading;
        font-size: 1.5rem;
      }
      
      a {
        .project-img {
         width: 18vw; 
        }
      }

      .project-desc {
        font-family: $paragraph;
        font-size: 1rem;
      }
    }
  }
}