
.projects {
  @include box;

  .projects-header {
    @include header;
  }

  .projects-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 4% 2% 2% 2%;

    .project {
      @include align;
      flex-direction: column;
      margin: 21px;

      .project-title {
        font-family: $heading;
        font-size: 1.5rem;
        font-weight: 700;
        padding-bottom: 2%;
      }
      
      a {
        padding-bottom: 3%;

        .project-img {
          width: 35vw; 
          box-shadow: 13px 11px 20px 0px #00000069; 

         @include respond-to(xxlarge) {
           width: 50vw;
         }

         @include respond-to(medium) {
           width: 65vw;
         }

         @include respond-to(xsmall) {
           width: 75vw;
         }
        }
      }

      .project-desc {
        font-family: $paragraph;
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }
}