
.nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .item {
        text-decoration: none;
        padding: 1% 2% 0% 0%;
        font-size: 1.25rem;
        color: $white;
        font-family: $sub-heading;
        font-weight: 600;
    }
}