
.work {
  @include box;

  .work-header {
    @include header;
  }

  .work-container {
    display: flex;
    flex-direction: column;
    padding: $padding;

    .work-group {
      display: flex;
      margin: 1% 10% 0% 10%;
      padding-bottom: 1%;

      .work-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 30%;

        .year {
          @include year;
        }
        
        .company {
          @include heading;
        }
        
        .position {
          @include sub-heading;
        }
      }

      .work-para {
        @include justify;
        align-items: flex-end;
        width: 70%;
        font-size: 1.25rem;
        font-family: $paragraph;
        margin-left: 2%;
      }
    }
  }
}