
.work {
  @include box;

  .work-header {
    @include header;
  }

  .work-container {
    display: flex;
    flex-direction: column;
    padding: $padding;

    .work-group {
      display: flex;
      margin: 1% 10% 2% 10%;
      border-bottom: 1px solid $black;
      padding-bottom: 2%;

      .work-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 30%;

        .year {
          font-size: 1rem;
          font-family: $date;
        }
        
        .company {
          font-size: 2rem;
          font-family: $heading;
        }
        
        .position {
          font-size: 1.25rem;
          font-family: $sub-heading;
        }
      }

      .work-para {
        @include justify;
        width: 70%;
        font-size: 1.25rem;
        padding-top: 2%;
        font-family: $paragraph;
        margin-left: 2%;
      }
    }
  }
}