html,body {
  background-image: url('../img/bg001.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-size: 62.5%; 

  #root {
    .top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .spacer {
        height: 100px;
      }
    }
  }
}
