@mixin respond-to($breakpoint) {
  @if $breakpoint == "xsmall" {
    @media (max-width: 500px) {
      @content;
    }
  } 

  @else if $breakpoint == "small" {
    @media (max-width: 767px) {
      @content;
    }
  }
  
  @else if $breakpoint == "medium" {
    @media (max-width: 992px) {
      @content;
    }
  }

  @else if $breakpoint == "large" {
    @media (max-width: 1240px) {
      @content;
    }
  }

  @else if $breakpoint == "xlarge" {
    @media (max-width: 1300px) {
      @content;
    }
  }

  @else if $breakpoint == "xxlarge" {
    @media (max-width: 1410px) {
      @content;
    }
  }
}

@mixin box {
    width: 80%;
    color: $black;
    background-color: $white;
    box-shadow: $shadow;
    margin-top: 2%;
    padding: 2% 0% 4% 0%;

    @include respond-to(large) {
      margin-top: 5%;
    }

    @include respond-to(small) {
      width: 90%;
    }

    @include respond-to(xsmall) {
      width: 95%;
    }
}

@mixin header {
    font-size: 2.5rem;
    font-family: $heading;
    margin: 0% 5% 0% 5%;

    @include respond-to(small) {
      font-size: 2rem;
    }

    @include respond-to(xsmall) {
      font-size: 1.75rem;
    }
}

@mixin justify {
    display: flex;
    justify-content: center;
}

@mixin align {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin focus {
    outline: none !important;
    border: 2px solid $dark-grey;
}

@mixin icon {
    color: $black;
    font-size: 3rem;
    padding: 2%
}

@mixin sub-heading {
    font-size: 1.25rem;
    font-family: $sub-heading;
}

@mixin heading {
    font-size: 2rem;
    font-family: $heading;

    @include respond-to(medium) {
      font-size: 1.75rem;
    }

    @include respond-to(small) {
      font-size: 1.5rem;
    }
}

@mixin year {
    font-size: 1em;
    font-family: $date;
}
