
@mixin box {
    width: 70%;
    color: $black;
    background-color: $white;
    box-shadow: $shadow;
    margin-top: 2%;
    padding: 2% 0% 4% 0%;
}

@mixin header {
    font-size: 2.5rem;
    font-family: $heading;
    margin-left: 5%;
}

@mixin justify {
    display: flex;
    justify-content: center;
}

@mixin align {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin focus {
    outline: none !important;
    border: 2px solid $dark-grey;
}

@mixin icon {
    color: $black;
    font-size: 3rem;
    padding: 2%
}

@mixin sub-heading {
    font-size: 1.25rem;
    font-family: $sub-heading;
}

@mixin heading {
    font-size: 1.5rem;
    font-family: $heading;
}

@mixin year {
    font-size: 1em;
    font-family: $date;
}