@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Karla&family=Lora:wght@700&family=Noto+Sans&family=Oswald&family=Source+Sans+Pro&display=swap');

$section-heading: 'Oswald', sans-serif;
$heading: 'Lora', serif; 
$sub-heading: 'Noto Sans', sans-serif;
$paragraph: 'Alegreya Sans', sans-serif;
$date: 'Source Sans Pro', sans-serif;

$light-grey:#c0c0c0;
$dark-grey: #5a5a5a;
$black: #333333;
$blue: #2f4769;
$dark-blue: #142334;
$red: #7d0404;
$white: #eaeaea;

$padding: 4% 0% 2% 0%;

$shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;