@import './variables';

.about {
  width: 65%;
  color: $color-black;
  background-color: $color-white;
  box-shadow: $shadow;
  margin-top: 5%;
  padding: $outer-padding;

  .about-header {
    font-size: 2.5rem;
    font-family: $font-secondary;
    margin-left: $margin-left;
  }

  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 5% 2% 5%;

    .about-img {
      width: 18vw;
      margin-left: 5%;
      box-shadow: $shadow;
    }

    .about-para {
      font-family: $font-primary;
      font-size: 1.25rem;
      margin: 2% 5% 2% 5%;
      line-height: 2rem;

      .para {
        padding: 1%;
      }
    }
  }
}