@import './variables';

.contact {
  width: 70%;
  color: $color-black;
  background-color: $color-white;
  box-shadow: $shadow;
  margin-top: $margin-top;
  padding: $outer-padding;

  .contact-header {
    font-family: $font-secondary;
    font-size: 2.5rem;
    margin-left: $margin-left;

  }

  .contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $inner-padding;
  
    .contact-container {
      width: 60%;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .error {
          color: rgb(190, 42, 42);
        }

        input {
          width: 90%;
          padding: 12px 20px;
          margin: 5px 0;
          display: inline-block;
          border: 1px solid #9a9a9a;
          border-radius: 4px;
          box-sizing: border-box;
          font-family: $font-primary;
          background-color: #f8f8f8;
          
          &:focus {
            outline: none !important;
            border: 2px solid rgb(98, 99, 100);
          }
        }

        textarea {
          width: 90%;
          padding: 12px 20px;
          margin: 5px 0;
          display: inline-block;
          border: 1px solid #9a9a9a;
          border-radius: 4px;
          box-sizing: border-box;
          font-family: $font-primary;
          background-color: #f8f8f8;
        
          &:focus {
            outline: none !important;
            border: 2px solid rgb(98, 99, 100);
          }
        }

        .btn-container {
         display: flex;
         justify-content: flex-end;
         width: 90%;
         
          button {
            background-color: rgb(70, 70, 70);
            border: none;
            color: #fff;
            padding: 10px 26px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
            font-family: $font-primary;
          }
        }
      }
    }
    
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      font-family: $font-primary;
      font-size: 1.5rem;
      padding-bottom: 5%;

      .user-icon {
        font-size: 3rem;
      }

      p {
        margin-bottom: 1%;
      }

      .me {
        font-family: $font-secondary;
        font-size: 2.5rem;
      }

      .relocate {
        font-family: $font-secondary;
        font-size: 1.5rem;
      }
    }
  }

  .message-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    line-height: 1.25rem;
    font-family: $font-secondary;
    font-size: 1rem;
    color: rgba(51, 51, 51, 0.473);

    .wait-message {
      width: 85%;
    }

    .confirmation {
      display: flex;
      justify-content: center;
      font-size: 2rem;
    }

    .failure {
      display: flex;
      justify-content: center;
    }
  }
}