@import './variables';

.skills {
  width: 70%;
  color: $color-black;
  background-color: $color-white;
  box-shadow: $shadow;
  margin-top: $margin-top;
  padding: $outer-padding;

  .skills-header {
    font-family: $font-secondary;
    font-size: 2.5rem;
    margin-left: $margin-left;
  }

  .skills-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: $inner-padding;

    .skills-item {
      font-size: 1.5em;
      font-family: $font-primary;

    }
  }

}