@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Oswald&display=swap');

$font-primary: 'Alegreya', serif;
$font-secondary: 'Oswald', sans-serif;  

$color-white: rgb(215, 238, 232);
$color-black: #333333;

$shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;