@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Oswald&display=swap');

$font-primary: 'Alegreya', serif;
$font-secondary: 'Oswald', sans-serif;  

$color-white: rgb(215, 238, 232);
$color-black: #333333;