@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Karla&family=Lora:wght@700&family=Noto+Sans&family=Oswald&family=Source+Sans+Pro&display=swap");
html, body {
  background-image: url("../img/bg001.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-size: 62.5%;
}

html #root .top, body #root .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html #root .top .spacer, body #root .top .spacer {
  height: 100px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Lora", serif;
  color: #eaeaea;
  margin: 4% 0% 2% 0%;
}

.header .header-name {
  font-size: 4rem;
  margin-bottom: 5%;
  font-weight: 600;
}

@media (max-width: 767px) {
  .header .header-name {
    font-size: 3.5rem;
  }
}

@media (max-width: 500px) {
  .header .header-name {
    font-size: 3rem;
  }
}

.header .header-title {
  font-size: 1.25rem;
  margin-bottom: 7%;
  font-family: "Noto Sans", sans-serif;
}

@media (max-width: 767px) {
  .header .header-title {
    font-size: 1rem;
  }
}

.header .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 7%;
}

.header .icon-container .icon {
  font-size: 1.75rem;
  color: #eaeaea;
}

.header .header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .header-links .link {
  text-decoration: none;
  font-size: 1.25rem;
  color: #eaeaea;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  border: 1px solid #5a5a5a;
  margin: 15px;
  padding: 10px;
  background-color: #eaeaea30;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
          box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
  cursor: pointer;
  border-radius: 4px;
}

.header .header-links .link:hover {
  background-color: #0000004a;
}

@media (max-width: 500px) {
  .header .header-links .link {
    font-size: 0.75rem;
  }
}

.about {
  width: 80%;
  color: #333333;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
          box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
  margin-top: 2%;
  padding: 2% 0% 4% 0%;
}

@media (max-width: 1240px) {
  .about {
    margin-top: 5%;
  }
}

@media (max-width: 767px) {
  .about {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .about {
    width: 95%;
  }
}

.about .about-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.5rem;
  font-family: "Lora", serif;
  margin: 0% 5% 0% 5%;
}

@media (max-width: 767px) {
  .about .about-header {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .about .about-header {
    font-size: 1.75rem;
  }
}

.about .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5% 5% 2% 10%;
}

@media (max-width: 1240px) {
  .about .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5% 0% 2% 0%;
  }
}

.about .about-container .about-img {
  width: 320px;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 3px 3px 10px 1px #0000008a;
          box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 3px 3px 10px 1px #0000008a;
  border-radius: 5px;
}

@media (max-width: 1300px) {
  .about .about-container .about-img {
    width: 280px;
  }
}

@media (max-width: 1240px) {
  .about .about-container .about-img {
    width: 275px;
  }
}

.about .about-container .about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (max-width: 1240px) {
  .about .about-container .about-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about .about-container .about-info .about-desc {
  font-size: 1.25rem;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  margin: 0% 0% 2% 10%;
}

@media (max-width: 1300px) {
  .about .about-container .about-info .about-desc {
    font-size: 1.1rem;
  }
}

@media (max-width: 1240px) {
  .about .about-container .about-info .about-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2% 0% 2% 0%;
    font-size: 1.25rem;
  }
}

.about .about-container .about-info .about-desc .name {
  font-family: "Lora", serif;
  font-size: 2rem;
}

@media (max-width: 1300px) {
  .about .about-container .about-info .about-desc .name {
    font-size: 1.5rem;
  }
}

@media (max-width: 1240px) {
  .about .about-container .about-info .about-desc .name {
    margin-bottom: 2%;
    font-size: 2rem;
  }
}

.about .about-container .about-info .about-para {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.25rem;
  margin: 0% 5% 0% 10%;
  line-height: 1.5rem;
}

@media (max-width: 1410px) {
  .about .about-container .about-info .about-para {
    line-height: 1.3rem;
  }
}

@media (max-width: 1300px) {
  .about .about-container .about-info .about-para {
    font-size: 1.1rem;
  }
}

@media (max-width: 1240px) {
  .about .about-container .about-info .about-para {
    margin: 0;
    width: 85%;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 992px) {
  .about .about-container .about-info .about-para {
    font-size: 1.1rem;
  }
}

@media (max-width: 767px) {
  .about .about-container .about-info .about-para {
    line-height: 1.3rem;
  }
}

@media (max-width: 500px) {
  .about .about-container .about-info .about-para {
    line-height: 1.2rem;
  }
}

.about .about-container .about-info .about-para .para {
  padding-bottom: 2%;
}

.skills {
  width: 80%;
  color: #333333;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
          box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
  margin-top: 2%;
  padding: 2% 0% 4% 0%;
}

@media (max-width: 1240px) {
  .skills {
    margin-top: 5%;
  }
}

@media (max-width: 767px) {
  .skills {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .skills {
    width: 95%;
  }
}

.skills .skills-header {
  font-size: 2.5rem;
  font-family: "Lora", serif;
  margin: 0% 5% 0% 5%;
}

@media (max-width: 767px) {
  .skills .skills-header {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .skills .skills-header {
    font-size: 1.75rem;
  }
}

.skills .skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4% 0% 2% 0%;
}

@media (max-width: 500px) {
  .skills .skills-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.skills .skills-container .skills-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5em;
  font-family: "Alegreya Sans", sans-serif;
}

@media (max-width: 500px) {
  .skills .skills-container .skills-item {
    font-size: 1.25rem;
    margin: 6px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.edu {
  width: 80%;
  color: #333333;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
          box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
  margin-top: 2%;
  padding: 2% 0% 4% 0%;
}

@media (max-width: 1240px) {
  .edu {
    margin-top: 5%;
  }
}

@media (max-width: 767px) {
  .edu {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .edu {
    width: 95%;
  }
}

.edu .edu-header {
  font-size: 2.5rem;
  font-family: "Lora", serif;
  margin: 0% 5% 0% 5%;
}

@media (max-width: 767px) {
  .edu .edu-header {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .edu .edu-header {
    font-size: 1.75rem;
  }
}

.edu .edu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4% 0% 2% 0%;
}

@media (max-width: 500px) {
  .edu .edu-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.edu .edu-container .edu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3%;
}

.edu .edu-container .edu-item .year {
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
}

@media (max-width: 992px) {
  .edu .edu-container .edu-item .year {
    font-size: 1rem;
  }
}

.edu .edu-container .edu-item .school {
  font-size: 2rem;
  font-family: "Lora", serif;
}

@media (max-width: 992px) {
  .edu .edu-container .edu-item .school {
    font-size: 1.75rem;
  }
}

@media (max-width: 767px) {
  .edu .edu-container .edu-item .school {
    font-size: 1.5rem;
  }
}

.edu .edu-container .edu-item .major {
  font-size: 1.25rem;
  font-family: "Noto Sans", sans-serif;
}

@media (max-width: 992px) {
  .edu .edu-container .edu-item .major {
    font-size: 1rem;
  }
}

.projects {
  width: 80%;
  color: #333333;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
          box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
  margin-top: 2%;
  padding: 2% 0% 4% 0%;
}

@media (max-width: 1240px) {
  .projects {
    margin-top: 5%;
  }
}

@media (max-width: 767px) {
  .projects {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .projects {
    width: 95%;
  }
}

.projects .projects-header {
  font-size: 2.5rem;
  font-family: "Lora", serif;
  margin: 0% 5% 0% 5%;
}

@media (max-width: 767px) {
  .projects .projects-header {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .projects .projects-header {
    font-size: 1.75rem;
  }
}

.projects .projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 4% 2% 2% 2%;
}

.projects .projects-container .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 21px;
}

.projects .projects-container .project .project-title {
  font-family: "Lora", serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 2%;
}

.projects .projects-container .project a {
  padding-bottom: 3%;
}

.projects .projects-container .project a .project-img {
  width: 35vw;
  -webkit-box-shadow: 7px 9px 10px 0px #11111161;
          box-shadow: 7px 9px 10px 0px #11111161;
}

@media (max-width: 1410px) {
  .projects .projects-container .project a .project-img {
    width: 50vw;
  }
}

@media (max-width: 992px) {
  .projects .projects-container .project a .project-img {
    width: 65vw;
  }
}

@media (max-width: 500px) {
  .projects .projects-container .project a .project-img {
    width: 75vw;
  }
}

.projects .projects-container .project .project-desc {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.work {
  width: 80%;
  color: #333333;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
          box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
  margin-top: 2%;
  padding: 2% 0% 4% 0%;
}

@media (max-width: 1240px) {
  .work {
    margin-top: 5%;
  }
}

@media (max-width: 767px) {
  .work {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .work {
    width: 95%;
  }
}

.work .work-header {
  font-size: 2.5rem;
  font-family: "Lora", serif;
  margin: 0% 5% 0% 5%;
}

@media (max-width: 767px) {
  .work .work-header {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .work .work-header {
    font-size: 1.75rem;
  }
}

.work .work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4% 0% 2% 0%;
}

.work .work-container .work-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1% 10% 0% 10%;
  padding-bottom: 1%;
}

@media (max-width: 992px) {
  .work .work-container .work-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0% 0% 3% 12%;
    width: 100%;
  }
}

.work .work-container .work-group .work-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 30%;
}

@media (max-width: 992px) {
  .work .work-container .work-group .work-item {
    width: 75%;
    margin-bottom: 1%;
  }
}

.work .work-container .work-group .work-item .year {
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
}

.work .work-container .work-group .work-item .position {
  font-size: 2rem;
  font-family: "Lora", serif;
  font-size: 1.5rem;
}

@media (max-width: 992px) {
  .work .work-container .work-group .work-item .position {
    font-size: 1.75rem;
  }
}

@media (max-width: 767px) {
  .work .work-container .work-group .work-item .position {
    font-size: 1.5rem;
  }
}

@media (max-width: 1300px) {
  .work .work-container .work-group .work-item .position {
    font-size: 1.3rem;
  }
}

@media (max-width: 992px) {
  .work .work-container .work-group .work-item .position {
    font-size: 1.5rem;
  }
}

.work .work-container .work-group .work-item .company {
  font-size: 1.25rem;
  font-family: "Noto Sans", sans-serif;
}

@media (max-width: 1300px) {
  .work .work-container .work-group .work-item .company {
    font-size: 1rem;
  }
}

.work .work-container .work-group .work-para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 70%;
  font-size: 1.25rem;
  font-family: "Alegreya Sans", sans-serif;
  margin-left: 2%;
}

@media (max-width: 1300px) {
  .work .work-container .work-group .work-para {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  .work .work-container .work-group .work-para {
    font-size: 1.1rem;
    margin: 0;
    width: 78%;
  }
}

.contact {
  width: 80%;
  color: #333333;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
          box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
  margin-top: 2%;
  padding: 2% 0% 4% 0%;
}

@media (max-width: 1240px) {
  .contact {
    margin-top: 5%;
  }
}

@media (max-width: 767px) {
  .contact {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .contact {
    width: 95%;
  }
}

.contact .contact-header {
  font-size: 2.5rem;
  font-family: "Lora", serif;
  margin: 0% 5% 0% 5%;
}

@media (max-width: 767px) {
  .contact .contact-header {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .contact .contact-header {
    font-size: 1.75rem;
  }
}

.contact .contact-header .contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-right: 5%;
}

.contact .contact-header .contact-icon .user-icon {
  font-size: 3rem;
}

.contact .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 4% 0% 2% 0%;
}

.contact .contact-info .contact-container {
  width: 50%;
}

@media (max-width: 992px) {
  .contact .contact-info .contact-container {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .contact .contact-info .contact-container {
    width: 100%;
  }
}

.contact .contact-info .contact-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-info .contact-container form .error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-color: #da1f1f;
  width: 90%;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.contact .contact-info .contact-container form input {
  width: 90%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #9a9a9a;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
  background-color: #f8f8f8;
}

.contact .contact-info .contact-container form input:focus {
  outline: none !important;
  border: 2px solid #5a5a5a;
}

.contact .contact-info .contact-container form textarea {
  width: 90%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #9a9a9a;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
  background-color: #f8f8f8;
}

.contact .contact-info .contact-container form textarea:focus {
  outline: none !important;
  border: 2px solid #5a5a5a;
}

.contact .contact-info .contact-container form .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90%;
}

.contact .contact-info .contact-container form .btn-container button {
  background-color: #2f4769;
  width: 16%;
  border: none;
  color: #fff;
  padding: 8px 0px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1rem;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
          box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
}

.contact .contact-info .contact-container form .btn-container button:hover {
  background-color: #405f88;
}

.contact .contact-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 1%;
}

@media (max-width: 500px) {
  .contact .contact-info .info {
    font-size: 1rem;
  }
}

.contact .contact-info .info p {
  margin-bottom: 2%;
}

.contact .contact-info .info .me {
  font-family: "Lora", serif;
  font-size: 2.5rem;
  font-weight: 600;
}

@media (max-width: 500px) {
  .contact .contact-info .info .me {
    font-size: 1.75rem;
  }
}

.contact .contact-info .info .relocate {
  font-family: "Lora", serif;
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width: 500px) {
  .contact .contact-info .info .relocate {
    font-size: 1.25rem;
  }
}

.contact .message-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 2%;
  line-height: 1.25rem;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  color: #333333;
}

@media (max-width: 500px) {
  .contact .message-display {
    font-size: 1rem;
  }
}

.contact .message-display .wait-message {
  width: 90%;
}

.contact .message-display .confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .message-display .failure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  height: 10vh;
}
/*# sourceMappingURL=styles.css.map */