@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Oswald&display=swap");
html, body {
  background-image: url("../img/bg001.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-size: 62.5%;
}

html #root .top, body #root .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html #root .top .spacer, body #root .top .spacer {
  height: 100px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald", sans-serif;
  color: #c0c0c0;
  margin-top: 8%;
}

.header .header-name {
  font-size: 5rem;
  margin-bottom: 5%;
}

.header .header-title {
  font-size: 1.5rem;
  margin-bottom: 5%;
}

.header .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.header .icon-container .icon {
  font-size: 1.5rem;
  color: #c0c0c0;
}

.about {
  width: 70%;
  color: #333333;
  background-color: #c0c0c0;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
          box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
  margin-top: 5%;
  padding: 2% 0% 4% 0%;
}

.about .about-header {
  font-size: 2.5rem;
  font-family: "Oswald", sans-serif;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about-header .cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-right: 5%;
}

.about .about-header .cv a {
  color: #333333;
  margin-left: 2%;
}

.about .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 5% 2% 5%;
}

.about .about-container .about-img {
  width: 20vw;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 3px 3px 10px 1px #0000008a;
          box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 3px 3px 10px 1px #0000008a;
  border-radius: 8px;
}

.about .about-container .about-para {
  font-family: "Alegreya", serif;
  font-size: 1.5rem;
  margin: 2% 5% 2% 5%;
  line-height: 2rem;
}

.about .about-container .about-para .para {
  padding-bottom: 3%;
}

.skills {
  width: 70%;
  color: #333333;
  background-color: #c0c0c0;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
          box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
  margin-top: 2%;
  padding: 2% 0% 4% 0%;
}

.skills .skills-header {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  margin-left: 5%;
}

.skills .skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4% 0% 2% 0%;
}

.skills .skills-container .skills-item {
  font-size: 1.5em;
  font-family: "Alegreya", serif;
}

.edu {
  width: 70%;
  color: #333333;
  background-color: #c0c0c0;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
          box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
  margin-top: 2%;
  padding: 2% 0% 4% 0%;
}

.edu .edu-header {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  margin-left: 5%;
}

.edu .edu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4% 0% 2% 0%;
}

.edu .edu-container .edu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Alegreya", serif;
}

.edu .edu-container .edu-item .sm {
  font-size: 1rem;
}

.edu .edu-container .edu-item .lg {
  font-size: 2rem;
}

.edu .edu-container .edu-item .md {
  font-size: 1.25rem;
}

.projects {
  width: 70%;
  color: #333333;
  background-color: #c0c0c0;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
          box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
  margin-top: 2%;
  padding: 2% 0% 4% 0%;
}

.projects .projects-header {
  font-size: 2.5rem;
  margin-left: 5%;
  font-family: "Oswald", sans-serif;
}

.projects .projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4% 2% 2% 2%;
}

.projects .projects-container .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .projects-container .project .project-title {
  font-family: "Alegreya", serif;
  font-size: 1.5rem;
}

.projects .projects-container .project a .project-img {
  width: 18vw;
}

.projects .projects-container .project .project-desc {
  font-family: "Alegreya", serif;
  font-size: 1rem;
}

.work {
  width: 70%;
  color: #333333;
  background-color: #c0c0c0;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
          box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
  margin-top: 2%;
  padding: 2% 0% 4% 0%;
}

.work .work-header {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  margin-left: 5%;
}

.work .work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4% 0% 2% 0%;
}

.work .work-container .work-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2% 10% 2% 10%;
}

.work .work-container .work-group .work-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Alegreya", serif;
  width: 30%;
}

.work .work-container .work-group .work-item .sm {
  font-size: 1rem;
}

.work .work-container .work-group .work-item .lg {
  font-size: 2rem;
}

.work .work-container .work-group .work-item .md {
  font-size: 1.25rem;
}

.work .work-container .work-group .work-para {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.25rem;
  padding-top: 2%;
}

.contact {
  width: 70%;
  color: #333333;
  background-color: #c0c0c0;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
          box-shadow: inset 0px 0px 5px 0px rgba(17, 17, 17, 0.62), 0px 0px 15px 0px #0000001a;
  margin-top: 2%;
  padding: 2% 0% 4% 0%;
}

.contact .contact-header {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  margin-left: 5%;
}

.contact .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4% 0% 2% 0%;
}

.contact .contact-info .contact-container {
  width: 60%;
}

.contact .contact-info .contact-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-info .contact-container form .error {
  color: #be2a2a;
}

.contact .contact-info .contact-container form input {
  width: 90%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #9a9a9a;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Alegreya", serif;
  background-color: #f8f8f8;
}

.contact .contact-info .contact-container form input:focus {
  outline: none !important;
  border: 2px solid #626364;
}

.contact .contact-info .contact-container form textarea {
  width: 90%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #9a9a9a;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Alegreya", serif;
  background-color: #f8f8f8;
}

.contact .contact-info .contact-container form textarea:focus {
  outline: none !important;
  border: 2px solid #626364;
}

.contact .contact-info .contact-container form .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90%;
}

.contact .contact-info .contact-container form .btn-container button {
  background-color: #464646;
  border: none;
  color: #fff;
  padding: 10px 26px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Alegreya", serif;
}

.contact .contact-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  font-family: "Alegreya", serif;
  font-size: 1.5rem;
  padding-bottom: 5%;
}

.contact .contact-info .info .user-icon {
  font-size: 3rem;
}

.contact .contact-info .info p {
  margin-bottom: 1%;
}

.contact .contact-info .info .me {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
}

.contact .contact-info .info .relocate {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
}

.contact .message-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 2%;
  line-height: 1.25rem;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  color: rgba(51, 51, 51, 0.473);
}

.contact .message-display .wait-message {
  width: 85%;
}

.contact .message-display .confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
}

.contact .message-display .failure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=styles.css.map */